body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOZZ08jU4YUM7Y9dSr-cRZxO2VtZh0BT_6Y-1eLVem1z4Oi2cr"); 
}

#header{
    margin: -109px 110px;
    float:left;

}
#audioContainer {
    position: fixed;
    bottom: 0;
}
